@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

:root{
    --main-font: 'Poppins', sans-serif;
    --banner-color: #3475ca;
}

html{ 
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

/* Banner Styles */
.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background: var(--banner-color);
    justify-content: center;
    align-items: center;
}

.banner img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.50;
}

nav{
    padding: 8px;
}

.logo{
    float: left;
    padding: 8px;
    margin-left: 16px;
    margin-top: 8px;
}

.logo a{
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0px;
    text-decoration: none;
}

nav ul{
    padding-top: 16px;
    float: right;
}

nav ul li{
    display: inline-block;
}

nav ul li:not(:first-child){
    margin-left: 48px;
}

nav ul li:last-child {
    margin-right: 24px;
}

nav ul li a{
    display: inline-block;
    outline: none;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-weight: 600;
    transition: .1s ease;
}

nav ul li a:hover{
    font-weight: 800;
}

.banner .content{
    position: absolute;
    max-width: 750px;
    left:50%;
    margin-left: -375px;
    margin-top: 375px;
    text-align: center;
}

.banner .content h2 {
    color: white;
    font-size: 60px;
    z-index: 100000;
}

.banner .content p {
    color: white;
    font-size: 18px;
    z-index: 100000;
}
/* End of Banner Styles */

/* About styles */
.about{
    position: relative;
    width: 100%;
    display: flex;
    background: #162c3b;
}

.about .contentBx{
    background: #162c3b;
    padding: 100px;
    width: 50%;
}

.heading{
    color: white;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 1px;
}

.text{
    color: white;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}

.about .imgBx{
    background: url(images/window.jpg);
    width: 50%;
    background-size: cover;
    background-position: center;
}

/* Services Styles */

.services{
    background: #12222d;
    padding: 100px;
    text-align: center;
}

.services .container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.services .container .serviceBx{
    position: relative;
    background: white;
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.services .container .serviceBx img{
    max-width: 100px;
}

.services .container .serviceBx h2{
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
    letter-spacing: 1px;
}

/* Technology styles */

.technology{
    background: #3f8ffc;
    width: 100%;
    padding: 100px;
    padding-top: 300px;
    margin-top: -300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.technology .contentBx{
    max-width: 800px;
}

.technology .imgBx{
    max-width: 250px;
}

.technology .imgBx img{
    max-width: 100%;
}

/* Client Styles */

.client{
   background: #162c3b;
   padding: 100px;
   text-align: center; 
}

.client .imgBx{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.client .imgBx img{
    max-width: 200px;
    margin: 20px;
    opacity: 0.25;
    cursor: pointer;
    transition: 0.3s;
}

.client .imgBx img:hover{
    opacity: 1;
}

/* Testimonials */

.testimonials{
    position: relative;
    padding: 100px;
    background: #12222d;
    text-align: center;
}

.testimonials .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;
}

.testimonials .container .contentBx{
    background: white;
    padding: 60px 50px;
    width: 490px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.testimonials .container .contentBx p {
    font-style: italic;
}

.testimonials .container .contentBx h3{
    width: 100%;
    text-align: end;
    font-weight: 500;
    color: #3f8ffc;
}

/* Contact Styles */

.contact{
    padding: 100px;
    background: #162c3b;
    text-align: center;
}

.imgBx2{
    background: url(images/bg2.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
}

.redbg{
    background: url(images/red.jpg) !important;
    background-size: cover;
    background-position: center;
}

.form .inputBx{
    margin-bottom: 40px;
}

.form .inputBx input{
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: white;
    border-bottom: 2px solid white;
}

.form .inputBx input::placeholder{
    color: white;
}

.form .inputBx textarea{
    min-width: 100%;
    max-width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: white;
    min-height: 150px;
    border-bottom: 2px solid white;
}

.form .inputBx textarea::placeholder{
    color: white;
}

.form .inputBx input[type="submit"]{
    width: 150px;
    background: white;
    color: #111;
    cursor: pointer;
    font-weight: 400;
}

/* Footer styles */
.footer{
    background: #162c3b;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer ul li {
    list-style: none;
}

.footer ul li a{
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
}

.footer ul li a img{
   filter: invert(1);
   max-width: 20px;
   opacity: 0.5; 
   transition: .3s;
}

.footer ul li a img:hover{
    opacity: 1;
}

/* Media Queries */

@media (max-width: 900px){
    
    .banner .content{
        padding: 0 50px;
        left:0;
        margin-left: 0;
    }
    
    .banner .content h2{
        font-size: 36px;
    }

    .banner .content p{
        font-size: 16px;
    }

    .logo{
        padding: 0;
    }

    .nav-wrapper{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: white;
        opacity: 0;
        transition: all 0.2s ease;
    }

    .nav-wrapper ul{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }

    .nav-wrapper ul li{
        display: block;
        float: none;
        width: 100%;
        text-align: right;
        margin-bottom: 10px;
    }

    .nav-wrapper ul li:nth-child(1) a{
        transition-delay: 0.2s;
    }

    .nav-wrapper ul li:nth-child(2) a{
        transition-delay: 0.3s;
    }

    .nav-wrapper ul li:nth-child(3) a{
        transition-delay: 0.4s;
    }

    .nav-wrapper ul li:nth-child(4) a{
        transition-delay: 0.5s;
    }

    .nav-wrapper ul li:nth-child(5) a{
        transition-delay: 0.6s;
    }

    .nav-wrapper ul li:not(:first-child){
        margin-left: 0;
    }

    .nav-wrapper ul li a {
        padding: 10px 24px;
        opacity: 0;
        color: var(--banner-color);
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.2px;
        transform: translateX(-20px);
        transition: all 0.2s ease;
    }

    .nav-btn{
        position: fixed;
        right: 10px;
        top: 10px;
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 99999;
        border-radius: 50%;
    }

    .nav-btn i {
        display: block;
        width: 20px;
        height: 2px;
        background: white;
        border-radius: 2px;
        margin-left: 14px;
    }

    .nav-btn i:nth-child(1){
        margin-top: 16px;
    }

    .nav-btn i:nth-child(2){
        margin-top: 4px;
        opacity: 1;
    }

    .nav-btn i:nth-child(3){
        margin-top: 4px;
    }

    .about{
        flex-direction: column;
    }

    .about .contentBx,
    .about .imgBx{
        width: 100%;
        padding: 50px;
        min-height: 400px;
        text-align: center;
    }

    .services{
        padding: 50px;
    }

    .services .container{
        justify-content: center;
        margin-top: 20px;
    }

    .services .container .serviceBx{
        margin: 20px;
        width: 300px;
        height: 350px;
    }

    .technology{
        padding: 50px;
        padding-top: 300px;
        justify-content: center;
        flex-direction: column;
    }

    .technology .imgBx{
        margin-top: 40px;
        max-width: 250px;
    }

    .client{
        padding: 50px;
    }

    .client .imgBx{
        justify-content: center;
    }

    .testimonials{
        padding: 50px;
    }

    .testimonials .container{
        justify-content: center;
    }

    .testimonials .contentBx{
        padding: 60px 30px;
        max-width: 490px;
        margin-bottom: 40px;
    }

    .contact{
        padding: 50px;
    }

    .footer{
        padding: 20px 50px;
        flex-direction: column-reverse;
        text-align: center;
    }

    .footer ul{
        margin-bottom: 20px;
    }


}

#nav:checked + .nav-btn i{
    background: black;
    transition: transform 0.2s ease-in-out;
}

#nav:checked + .nav-btn i:nth-child(1){
    transform: translateY(6px) rotate(135deg);
}

#nav:checked + .nav-btn i:nth-child(2){
    opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3){
    transform: translateY(-6px) rotate(45deg);
}

#nav:checked ~ .nav-wrapper{
    z-index: 9990;
    opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a{
    opacity: 1;
    transform: translateX(0);
}

.hidden{
    display: none;
}