@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

:root{
    --main-font: 'Poppins', sans-serif;
    --banner-color: #12222d;
}

body {
    overflow-x: hidden;
}


.text{
    color: white;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}

/* Banner Styles */
.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background: var(--banner-color);
    justify-content: center;
    align-items: center;
}

.banner img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.25;
}

nav{
    padding: 8px;
}

.logo{
    float: left;
    padding: 8px;
    margin-left: 16px;
    margin-top: 8px;
}

.logo a{
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0px;
    text-decoration: none;
}

nav ul{
    padding-top: 16px;
    float: right;
}

nav ul li{
    display: inline-block;
}

nav ul li:not(:first-child){
    margin-left: 48px;
}

nav ul li:last-child {
    margin-right: 24px;
}

nav ul li a{
    display: inline-block;
    outline: none;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-weight: 600;
    transition: .1s ease;
}

nav ul li a:hover{
    font-weight: 800;
}

.banner .content{
    position: absolute;
    max-width: 750px;
    left:50%;
    margin-left: -375px;
    margin-top: 200px;
    text-align: center;
}

.banner .content h2 {
    color: white;
    font-size: 60px;
    z-index: 100000;
}

.banner .content p {
    color: white;
    font-size: 18px;
    z-index: 100000;
}
/* End of Banner Styles */

/* Services styles */

.services{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #162c3b;
}

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    width: 1300px;
}

.container .icon{
    position: relative;
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.container .icon .iconBx{
    position: relative;
    width: calc(50% - 40px);
    margin: 0 30px 30px 0;
    padding: 0 25px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 14px;
    transition: 0.5s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .07);
}

.container .icon .iconBx.active{
    box-shadow: 0 10px 30px rgba(0, 0, 0, .2);
}

.container .icon .iconBx img{
    max-width: 100%;
    filter: opacity(0.5);
    transition: 0.5s;
    transform: scale(0.7);
}

.container .icon .iconBx.active img{
    filter: opacity(1);
    transform: scale(1);
}

.content{
    position: relative;
    width: 50%;
    overflow: hidden;
}

.content .contentBx{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transform: scale(0);
    opacity: 0;
}

.content .contentBx.active{
    transform: scale(1);
    opacity: 1;
    transition-delay: 0.2s;
}

.content .contentBx h2{
    font-size: 3rem;
}

/* Footer styles */
.footer{
    background: #162c3b;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer ul li {
    list-style: none;
}

.footer ul li a{
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
}

.footer ul li a img{
   filter: invert(1);
   max-width: 20px;
   opacity: 0.5; 
   transition: .3s;
}

.footer ul li a img:hover{
    opacity: 1;
}

/* Media Queries */


/* Media Queries */

@media (max-width: 900px){
    
    .banner .content{
        padding: 0 50px;
        left:0;
        margin-left: 0;
    }
    
    .banner .content h2{
        font-size: 36px;
    }

    .banner .content p{
        font-size: 16px;
    }

    .logo{
        padding: 0;
    }

    .nav-wrapper{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: white;
        opacity: 0;
        transition: all 0.2s ease;
    }

    .nav-wrapper ul{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }

    .nav-wrapper ul li{
        display: block;
        float: none;
        width: 100%;
        text-align: right;
        margin-bottom: 10px;
    }

    .nav-wrapper ul li:nth-child(1) a{
        transition-delay: 0.2s;
    }

    .nav-wrapper ul li:nth-child(2) a{
        transition-delay: 0.3s;
    }

    .nav-wrapper ul li:nth-child(3) a{
        transition-delay: 0.4s;
    }

    .nav-wrapper ul li:nth-child(4) a{
        transition-delay: 0.5s;
    }

    .nav-wrapper ul li:nth-child(5) a{
        transition-delay: 0.6s;
    }

    .nav-wrapper ul li:not(:first-child){
        margin-left: 0;
    }

    .nav-wrapper ul li a {
        padding: 10px 24px;
        opacity: 0;
        color: var(--banner-color);
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.2px;
        transform: translateX(-20px);
        transition: all 0.2s ease;
    }

    .nav-btn{
        position: fixed;
        right: 10px;
        top: 10px;
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 99999;
        border-radius: 50%;
    }

    .nav-btn i {
        display: block;
        width: 20px;
        height: 2px;
        background: white;
        border-radius: 2px;
        margin-left: 14px;
    }

    .nav-btn i:nth-child(1){
        margin-top: 16px;
    }

    .nav-btn i:nth-child(2){
        margin-top: 4px;
        opacity: 1;
    }

    .nav-btn i:nth-child(3){
        margin-top: 4px;
    }

    .footer{
        padding: 20px 50px;
        flex-direction: column-reverse;
        text-align: center;
    }

    .footer ul{
        margin-bottom: 20px;
    }


}

#nav:checked + .nav-btn i{
    background: black;
    transition: transform 0.2s ease-in-out;
}

#nav:checked + .nav-btn i:nth-child(1){
    transform: translateY(6px) rotate(135deg);
}

#nav:checked + .nav-btn i:nth-child(2){
    opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3){
    transform: translateY(-6px) rotate(45deg);
}

#nav:checked ~ .nav-wrapper{
    z-index: 9990;
    opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a{
    opacity: 1;
    transform: translateX(0);
}

.hidden{
    display: none;
}